{% extends 'base.html.twig' %}
{% block title %}Catégorie : {{ category.name }}{% endblock %}

{% block body %}
        <h1 class="mt-0">{{ category.name }}</h1>
        {% for program in programs %}
        <ul class="style-list">
            <li>
            <h2>{{ program.id }} / {{ program.title }}</h2>
            <p>{{ program.summary }}</p>
            {# Lien vers la fiche de la série : #}
            <a href="{{ path("program_show", { slug: program.slug }) }}">Voir la fiche</a>
            </li>
        </ul>
        {% else %}
            <p>Aucune série trouvée.</p> <br>
        {% endfor %}
    <a class="link-return" href="{{ path('category_index') }}">
        Retour à la liste des catégories
    </a>

{% endblock %}