{% extends 'base.html.twig' %}

{% block title %}Episode{% endblock %}

{% block body %}
    <h1>Episode</h1>

    <div class="box-button">
        {% include('episode/_delete_form.html.twig')  %}
        <a class="edit" href="{{ path('episode_edit', {'slug': episode.slug}) }}">Edit</a>
    </div>


    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ episode.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ episode.title }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ episode.number }}</td>
            </tr>
            <tr>
                <th>Synopsis</th>
                <td>{{ episode.synopsis }}</td>
            </tr>
            <tr>
                <th>Synopsis</th>
                <td>{{ episode.synopsis }}</td>
            </tr>
        </tbody>
    </table>
    <p>Commentaires :</p>
    <ul>
        {% for comment in episode.comments %}
            <li>
                <p>Note : {{ comment.rate }}/20</p>
                <p>{{ comment.comment }}</p>
                {% if is_granted("ROLE_ADMIN") or app.user == comment.author %}
                    <p>{%  include('comment/_form_delete.html.twig') %}</p>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    {% if app.user %}
        {% include '/comment/_form_edit.html.twig' %}
    {% endif %}

    <a class="link-return" href="{{ path('episode_index') }}">back to list</a> </br>





{% endblock %}
