{% extends 'base.html.twig' %}
{% block title %}{{ program.title }}{% endblock %}

{% block body %}

    <div class="media">
        <img class="align-self-start mr-3 poster" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">Saison {{ season.number }} de {{ program.title }}</h1>
            <p>{{ season.description }}</p>
            <p>Année de sortie : {{ season.year }}</p>
            <p>Liste des épisodes :</p>
            <ul>
                {% for episod in season.episodes %}
                <li>
                    <a href="{{ path("program_episode_show", { programId: program.id, seasonId: season.id, episodeId: episod.id }) }}">
                        Episode {{ episod.number }} : {{ episod.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <a class="link-return" href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>

{% endblock %}