<div class="my-navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light row">
            <div class="collapse navbar-collapse col-4 search-navabr" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><img
                                        src="{{ asset('build/magnifier.svg') }}" alt=""/> Search
                            </button>
                        </form>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Catégories
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="">Horreur</a>
                                <a class="dropdown-item" href="">Comédie</a>
                                <a class="dropdown-item" href="">Science-fiction</a>
                                <a class="dropdown-item" href="">Fantastique</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('category_index')}}">Toutes les catégories</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Programmes
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="">Horreur</a>
                            <a class="dropdown-item" href="">Comédie</a>
                            <a class="dropdown-item" href="">Science-fiction</a>
                            <a class="dropdown-item" href="">Fantastique</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('program_index')}}">Tous les programmes</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse col-4" id="navbarSupportedContent">
                <a class="nav-link" href="{{ path('app_index')}}"><img class="logo" src="{{ asset('build/logo-wild-serie.svg') }}" alt=""/></a>
            </div>
            <div class="collapse navbar-collapse col-4" id="navbarSupportedContent">
                    {% if app.user %}
                        <p>
                            Hello {{ app.user.email }} !
                        </p>
                        <p>
                            <a class="nav-link" href="{{ path('app_logout')}}"><img src="{{ asset('build/logout.svg') }}" alt="logout" title="se déconnecter"/></a>
                        </p>
                        <p>
                            <a class="nav-link" href="{{ path('profile')}}"><img src="{{ asset('build/parameter.svg') }}" alt="my-profile" title="mon compte"/></a>
                        </p>
                    {% else %}
                        <p>
                            <a class="nav-link" href="{{ path('app_login')}}"><img src="{{ asset('build/user.svg') }}" alt="login" title="se connecter"/></a>
                        </p>
                        <p>
                            <a class="nav-link" href="{{ path('app_register')}}"><img src="{{ asset('build/entry.svg') }}" alt="registration" title="s'inscrire"/></a>
                        </p>
                    {% endif %}

            </div>
    </nav>
</div>